.homepage {
    background: #f9f9f9;

    .home__parrent {
        display: flex;
        justify-content: center;
        .home__content {
            margin-right: 35px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}